@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
  }

  header, .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding: 0;
  }

  .title {
    width: 27rem;
  }

  .no-result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .no-result .description {
    width: 14rem;
  }

  .slide {
    margin: auto;
    overflow: initial;
    width: 1024px;
  }
  .slide-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
    grid-gap: 3.125rem;
    margin: 0;
    min-width: auto;
  }
  
  .slide-item .card {
    margin: 0;
  }

}