.icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.icon {
  display: inline-block;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  width: 38px;
}

.false {
  background-image: url("../images/Pet.svg");
  background-size: 26px;
}

.true {
  background-image: url("../images/Toxic.svg");
}

.no{
  background-image: url("../images/NoSun.svg");
}

.high {
  background-image: url("../images/HighSun.svg");
}

.low {
  background-image: url("../images/LowSun.svg");
}

.daily{
  background-image: url("../images/Daily.svg");
  background-size: 26px;
}

.regularly{
  background-image: url("../images/Regularly.svg");
}

.rarely{
  background-image: url("../images/Normal.svg");
}